<div>
  <h2><%= @question.title %></h2>
  <h6><%= @question.score %></h6>
  <h6><%= @user.email %></h6>
  <p><%= @question.content %></p>
  <%= link_to answers_new_path, remote: true do %>
    <button>Add answer!</button>
  <% end %>
  <div id="answer-form" style="display:none;">
    <%= form_tag answers_path(:id => @question.id), remote: true do |f| %>
      <%= label_tag "Your Answer" %>
      <%= text_field_tag :content %>
      <%= submit_tag "Submit" %>
    <% end %>
  </div>
  <div>
    <% @question.responses.each do |comment| %>
      <h6>User A</h6>
      <p><%= comment.content %></p>
    <% end %>
  </div>
  <div>
    <ul class="ul_answers">
      <% @question.answers.each do |answer| %>
        <li>
          <p><%= answer.content %></p>
          <h6>User X</h6>
          <h6><%= answer.score %></h6>
          <div>
            <% answer.responses.each do |comment| %>
              <p><%= comment.content %></p>
              <h6>User Y</h6>
            <% end %>
          </div>
        </li>
      <% end %>
    </ul>
  </div>
</div>
